.card {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 65px 0 103px;
  box-sizing: border-box;
}

.card__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 6.076%;
}

@media (max-width: 1243px) {
  .card__wrapper {
    justify-content: center;
  }
}

.card__gallery {
  display: flex;
  min-width: 630px;
}

.card__item--desktop-tablet-only {
  margin: 15px;
}

.card__swiper-container {
  order: -1;
  margin: 0;
  overflow: visible;
}

.card__swiper-container .swiper-wrapper {
  flex-direction: column;
}

.card__swiper-container .card__item {
  width: auto;
  height: auto;
  margin: 15px;
  line-height: 0;
}

.card__item--mobile-only {
  display: none;
}

.card__description {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  margin: 5px 15px 15px 7.083%;
  box-sizing: border-box;
}

.card__description h1 {
  width: 100%;
  margin: 0 0 12px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: $main_text-color;
}

.card__description > p {
  width: 100%;
  margin: 0 0 32px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
  color: $main_text-color;
}

.card__link {
  margin: 0 0 14px;
  padding: 5px 35px 5px 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $service_text-color;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.card__link--active {
  color: $main_text-color;
}

.card__info {
  display: none;
  width: 100%;
  margin: 0 0 46px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $main_text-color;
}

.card__info--active {
  display: block;
}

.card__info--active table {
  width: 100%;
}

.card__description td {
  padding: 10px 0;
  border-bottom: 1px solid #f6f5f4;
}

.card__description td:last-child {
  text-align: right;
}

.card__add-to-cart {
  display: block;
  width: 100%;
  margin: 0 0 18px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 68px;
  text-align: center;
  color: white;
  background-color: $background-color;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.card__advantages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__advantages li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $service_text-color;
  border-right: 1px solid #f6f5f4;
}

.card__advantages li:last-child {
  border-right: none;
}

.card__pagination {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .card {
    padding: 20px 0 64px;
  }

  .card__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4.948%;
  }

  .card__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 333px;
    width: 333px;
  }

  .card__item--desktop-tablet-only {
    margin: 10px 7px 4px;
  }

  .card__item--desktop-tablet-only img {
    width: 319px;
    height: 286px;
  }

  .card__swiper-container {
    order: 0;
  }

  .card__swiper-container .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card__swiper-container .card__item {
    width: 97px;
    margin: 7px;
  }

  .card__swiper-container img {
    width: 97px;
    height: auto;
  }

  .card__description {
    max-width: 319px;
    margin: 0 7px 7px 26px;
  }

  .card__add-to-cart {
    margin: 0 0 16px;
  }

  .card__advantages li {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .card {
    padding: 0;
  }

  .card__wrapper {
    padding: 0;
  }

  .card__gallery {
    min-width: 290px;
    width: 290px;
    margin: 0 auto 40px;
  }

  .card__item--desktop-tablet-only {
    display: none;
  }

  .card__item--mobile-only {
    display: block;
  }

  .card__swiper-container {
    overflow: hidden;
  }

  .card__swiper-container .swiper-wrapper {
    flex-wrap: nowrap;
  }

  .card__swiper-container .card__item {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .card__swiper-container img {
    width: 290px;
    height: auto;
  }

  .card__pagination {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $main_text-color;
  }

  .card__swiper-container .swiper-pagination-fraction {
    bottom: 5px;
    left: 0;
    width: 100%;
  }

  .card__description {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 0 auto 26px;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .card__description h1 {
    margin: 0 0 12px;
  }

  .card__description > p {
    margin: 0 0 22px;
  }

  .card__link {
    margin: 0 0 14px;
    padding: 5px 38px 5px 0;
  }

  .card__info {
    margin: 0 0 36px;
  }

  .card__add-to-cart {
    margin: 0 0 13px;
  }

  .card__advantages li {
    padding-right: 38px;
  }

  .card__advantages li:first-child {
    padding-right: 30px;
  }

  .card__advantages li:last-child {
    padding-right: 0;
  }
}
