.catalog {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 65px 0 69px;
  box-sizing: border-box;
}

.catalog__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 6.076%;
}

.catalog__wrapper::after {
  content: "";
  position: absolute;
  bottom: 63px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f6f5f4;
}

.catalog__filters {
  margin: 15px 35px 15px 15px;
}

.catalog__product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 600px;
  max-width: 900px;
  margin: 0 0 47px;
  padding: 0;
  list-style: none;
}

.catalog__product {
  margin: 15px 15px 20px;
}

.catalog__paganation {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.catalog__paganation-link {
  display: block;
  margin: 0;
  padding: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $main_text-color;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__paganation-list {
  display: flex;
  margin: 0 30px 0 0;
  padding: 0;
  list-style: none;
}

.catalog__paganation-link--number {
  display: block;
  margin: 0 3px 0 0;
  color: $service_text-color;
}

.catalog__paganation-link--number-active {
  color: $main_text-color;

  &:hover,
  &:focus {
    opacity: 1;
    cursor: default;
  }

  &:active {
    opacity: 1;
  }
}

@media (max-width: $tablet-width-only) {
  .catalog {
    padding: 50px 0 69px;
  }

  .catalog__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 3.906%;
  }

  .catalog__filters {
    margin: 0 auto 35px;
  }

  .catalog__product {
    width: 206px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog {
    padding: 40px 0 60px;
  }

  .catalog__wrapper {
    padding: 0;
  }

  .catalog__filters {
    margin: 0 auto 25px;
  }

  .catalog__product-list {
    min-width: auto;
    margin: 0 0 26px;
  }

  .catalog__product {
    width: 130px;
    margin: 15px 15px 10px;
  }

  .catalog__product img {
    width: 100%;
  }

  .catalog__paganation {
    justify-content: center;
  }

  .catalog__paganation-list {
    margin: 0;
  }

  .catalog__paganation-link {
    display: none;
  }

  .catalog__paganation-link--number {
    display: block;
    margin: 0 7px 0 6px;
  }
}
