.footer {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

.footer__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 7.16% 77px 7.17%;
  box-sizing: border-box;
}

.footer__mail-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  margin: 0 20px 0 0;
  padding: 0;
}

.footer__mail-form h2 {
  margin: 0 0 10px;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: white;
}

.footer__mail-form p {
  margin: 0 0 38px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: $service_text-color;
}

.footer__mail-form form {
  width: 100%;
  margin: 0 62px 0 0;
  padding: 0 0 20px;
}

.footer__mail-form input,
.footer__mail-form input::placeholder {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $service_text-color;
}

.footer__mail-form input {
  width: 100%;
  margin: 0;
  padding: 7px 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;

  &:hover,
  &:focus {
    outline: 1px solid white;
    cursor: pointer;
  }
}

.footer__mail-form a {
  position: absolute;
  bottom: 25px;
  right: 60px;
  display: block;
  margin: 0;
  padding: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__mail-form svg {
  margin: 0 0 0 8px;
  filter: brightness(0) invert(1);
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer__menu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0 0 85px;
  padding: 0;
  list-style: none;
}

.footer__menu ul:first-child {
  margin: 0;
}

.footer__menu a {
  display: block;
  margin: 0 0 11px;
  padding: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social svg {
  margin: 1px 13px 0 0;
}

@media (max-width: $tablet-width-only) {
  .footer__main {
    padding: 50px 5.86% 36px;
  }

  .footer__mail-form {
    width: 560px;
    margin: 0;
  }

  .footer__mail-form form {
    margin: 0;
    padding: 0 0 40px;
  }

  .footer__mail-form a {
    bottom: 45px;
    right: -4px;
  }

  .footer__mail-form svg {
    margin: 0 0 0 10px;
  }

  .footer__menu ul {
    margin: 0 0 0 86px;
  }

  .footer__social svg {
    margin: 1px 11px 0 0;
  }
}

@media (max-width: $mobile-width-only) {
  .footer__main {
    padding: 50px 4.69% 37px;
  }

  .footer__mail-form {
    width: 290px;
  }

  .footer__mail-form h2 {
    margin: 0 0 12px;
  }

  .footer__mail-form p {
    margin: 0 0 36px;
    line-height: 22px;
  }

  .footer__mail-form form {
    padding: 0 0 42px;
  }

  .footer__menu {
    flex-direction: column;
  }

  .footer__menu ul {
    margin: 0 0 24px;
  }

  .footer__menu ul:first-child {
    margin: 0 0 20px;
  }

  .footer__menu .footer__social {
    flex-direction: row;
    margin: 0;
  }

  .footer__social span {
    display: none;
  }

  .footer__social svg {
    width: 21px;
    height: 21px;
    margin: 0 33px 0 -5px;
  }
}
