.pop-up-add {
  position: fixed;
  top: 42.2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: none;
  width: 500px;
  padding: 47px 0 25px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
}

.pop-up-add h2 {
  margin: 0 0 42px;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: $main_text-color;
}

.pop-up-add__product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 17px;
  padding: 0 33px 36px 35px;
  box-sizing: border-box;
  border-bottom: 1px solid #f6f5f4;
}

.pop-up-add__product img {
  margin: 4px 20px 0 0;
  line-height: 0;
}

.pop-up-add__price {
  flex-grow: 1;
}

.pop-up-add h3 {
  margin: 0 0 10px;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: $main_text-color;
}

.pop-up-add p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: $main_text-color;
}

.pop-up-add__quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-up-add__quantity button {
  position: relative;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.pop-up-add__quantity button:last-child {
  margin-bottom: 6px;
}

.pop-up-add__quantity button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pop-up-add__quantity button:last-child::before {
  background-image: url("../img/icon-minus.svg");
}

.pop-up-add__quantity p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: $main_text-color;
}

.pop-up-add__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 35px;
  padding: 0 35px;
}

.pop-up-add__info span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $main_text-color;
}

.pop-up-add__info span:last-child {
  font-weight: 500;
}

.pop-up-add__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 35px;
}

.pop-up-add__buttons a {
  display: block;
  width: 200px;
  margin: 0 0 30px;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 66px;
  text-align: center;
  color: white;
  background-color: $background-color;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.pop-up-add__buttons a:first-child {
  color: $main_text-color;
  background-color: transparent;
  border: 1px solid $background-color;
}

.pop-up-add__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
}

.pop-up-add__close-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-close_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

@media (max-width: $tablet-width-only) {
  .pop-up-add {
    top: 29.3%;
    width: 502px;
  }

  .pop-up-add__product {
    padding: 0 30px 36px;
  }

  .pop-up-add__product img {
    width: 88px;
    height: auto;
  }

  .pop-up-add__quantity button:first-child {
    margin-top: 4px;
  }

  .pop-up-add__quantity button:last-child {
    margin-bottom: 0;
  }

  .pop-up-add__info {
    padding: 0 30px;
  }

  .pop-up-add__buttons {
    padding: 0 30px;
  }

  .pop-up-add__buttons a {
    width: 206px;
  }
}

@media (max-width: $mobile-width-only) {
  .pop-up-add {
    top: 13.3%;
    width: 90.625%;
    max-width: 500px;
    padding: 39px 0 25px;
  }

  .pop-up-add h2 {
    margin: 0 0 28px;
    font-size: 24px;
    line-height: 29px;
  }

  .pop-up-add__product {
    margin: 0 0 22px;
    padding: 0 15px 26px;
  }

  .pop-up-add__product img {
    width: 70px;
    margin: 4px 15px 0 0;
  }

  .pop-up-add h3 {
    margin: 0 0 5px;
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
  }

  .pop-up-add p {
    font-size: 16px;
    line-height: 21px;
  }

  .pop-up-add__quantity button:first-child {
    margin: 4px 0 6px;
  }

  .pop-up-add__quantity button:last-child::before {
    top: 8px;
  }

  .pop-up-add__quantity p {
    font-size: 16px;
    line-height: 21px;
  }

  .pop-up-add__info {
    margin: 0 0 20px;
    padding: 0 15px;
  }

  .pop-up-add__info span {
    display: block;
    margin: 0 0 11px;
    font-size: 12px;
    line-height: 16px;
  }

  .pop-up-add__buttons {
    padding: 0 15px;
  }

  .pop-up-add__buttons a {
    width: 100%;
    margin: 0 0 21px;
  }

  .pop-up-add__close-button {
    top: 15px;
    right: 15px;
  }
}
