.product-slider h2 {
  margin: 0 0 24px;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: $main_text-color;
}

.product-slider__link {
  position: relative;
  display: block;
  width: 100px;
  margin: 0 auto 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: $main_text-color;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.product-slider__link::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 40px);
  width: 80px;
  height: 1px;
  background-color: $background-color;
}

.product-slider__swiper-container {
  position: static;
}

.product-slider .swiper-button-prev,
.product-slider .swiper-button-next {
  position: absolute;
  top: 64px;
  left: 97px;
  width: 30px;
  height: 11px;
  z-index: 2;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.product-slider .swiper-button-next {
  left: auto;
  right: 97px;
}

.product-slider .swiper-button-prev::after,
.product-slider .swiper-button-next::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 11px;
  background-image: url("../img/icon-arrow_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.product-slider .swiper-button-next::after {
  background-image: url("../img/icon-arrow_right.svg");
}

.product-slider .swiper-pagination {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: $main_text-color;
}

.product-slider .swiper-pagination-bullets {
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-slider .swiper-pagination-bullet {
  width: 0;
  height: 0;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width-only) {
  .product-slider h2 {
    margin: 0 0 19px;
  }

  .product-slider__link {
    margin: 0 auto 54px;
  }

  .product-slider__link::after {
    bottom: -4px;
    left: calc(50% - 40px);
  }

  .product-slider .swiper-button-prev,
  .product-slider .swiper-button-next {
    top: 64px;
    left: 45px;
    width: 37px;
    height: 16px;
  }

  .product-slider .swiper-button-next {
    left: auto;
    right: 45px;
  }

  .product-slider .swiper-button-prev::after,
  .product-slider .swiper-button-next::after {
    width: 37px;
    height: 16px;
  }

  .product-slider .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .product-slider .swiper-pagination-bullet {
    width: 0;
    height: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .product-slider__link {
    margin: 0 auto 44px;
  }

  .product-slider .swiper-button-prev,
  .product-slider .swiper-button-next {
    display: none;
  }

  .product-slider .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
    letter-spacing: 0.15em;
  }
}
