.product a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.product img {
  margin: 0 0 19px;
}

.product h3 {
  order: 1;
  margin: 0 0 6px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $main_text-color;
}

.product p {
  order: 1;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $main_text-color;
}

@media (max-width: $tablet-width-only) {
  .product img {
    width: 324px;
    height: auto;
    margin: 0 0 19px;
  }
}

@media (max-width: $mobile-width-only) {
  .product img {
    width: 130px;
    height: auto;
    margin: 0 0 14px;
  }
}
