.topic {
  width: 100%;
  margin: 0 auto 121px;
  padding: 187px 0 179px 1px;
  box-sizing: border-box;
  background: $background-color url("../img/bg-main-topic-desktop@1x.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $background-color url("../img/bg-main-topic-desktop@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.topic h2 {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.topic p {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: white;
}

.topic--catalog {
  margin: 0 auto;
  padding: 94px 0 94px;
  background: $background-color url("../img/bg-catalog-topic-desktop@1x.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $background-color url("../img/bg-catalog-topic-desktop@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.topic--catalog h2 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: normal;
}

.topic--catalog p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: $tablet-width-only) {
  .topic {
    margin: 0 auto 71px;
    padding: 187px 18px 179px 0;
    background: $background-color url("../img/bg-main-topic-tablet@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-color url("../img/bg-main-topic-tablet@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }

  .topic--catalog {
    margin: 0 auto;
    padding: 94px 0 94px;
    background: $background-color url("../img/bg-catalog-topic-tablet@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-color url("../img/bg-catalog-topic-tablet@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .topic {
    margin: 0 auto 31px;
    padding: 196px 0 189px 1px;
    background: $background-color url("../img/bg-main-topic-mobile@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-color url("../img/bg-main-topic-mobile@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }

  .topic h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .topic p {
    font-size: 34px;
    line-height: 40px;
  }

  .topic--catalog {
    margin: 0 auto;
    padding: 80px 0 79px;
    background: $background-color url("../img/bg-catalog-topic-mobile@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-color url("../img/bg-catalog-topic-mobile@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }

  .topic--catalog h2 {
    font-size: 34px;
    line-height: 44px;
  }

  .topic--catalog p {
    font-size: 22px;
    line-height: 29px;
  }
}
